
*.aux

*.fff

*.lof

*.log

*.lot

*.ttt

*.gz

*.bbl

*.blg

JCM_VarResCaliforniaClimate.pdf

JCM_VarResCaliforniaClimate.pdf

*.swp

WorldMapPlot/worldmap.eps

WorldMapPlot/worldmap.pdf

JCM_VarResCaliforniaClimate.synctex

VarResCaliforniaClimate.pdf

supplement/agutmpl - Supporting Information.pdf
